atomicwrites==1.4.1
attrs==22.2.0
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==3.1.0
docopt==0.6.2
exceptiongroup==1.1.1
idna==2.8
iniconfig==2.0.0
more-itertools==9.1.0
numpy==1.24.2
packaging==23.0
pipreqs==0.4.11
pluggy==1.0.0
py==1.11.0
pytest==4.3.1
pytest-xray==0.2.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.21.0
six==1.16.0
urllib3==1.24.3
xray==0.7.0
yarg==0.1.9
pytest-xray==1.4.1

